//- doctype html
//- html
//-   head
//-     title Simple Website - Login
//-     link(rel='stylesheet', href='/styles/app.css') 

//-   body
//-     header
//-       h1 Simple Website Login
//-     nav
//-       ul
//-         li
//-           a(href='/') Home
//-         li
//-           a(href='/services') Services
//-         li
//-           a(href='/about') About
//-         li
//-           a(href='/contact') Contact
//-     main
//-       .login-container
//-         h2 Login
//-         form(action='/signin', method='post' onsubmit='signin')
//-           .form-group
//-             label(for='username') Username:
//-             input(type='text', id='username', name='username', required)
//-           .form-group
//-             label(for='password') Password:
//-             input(type='password', id='password', name='password', required)
//-           .form-group
//-             input(type='submit', value='Login')
//-     footer
//-       p © 2024 Simple Website


doctype html
html
  head
    title Simple Website - Login
    link(rel='stylesheet', href='./styles/app.css') 

  body
    header
      h1 Simple Website Login
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/services') Services
        li
          a(href='/about') About
        li
          a(href='/contact') Contact
    main
      .login-container
        h2 Login
        form(id='loginForm', onsubmit='return singUp();')
          .form-group
            label(for='username') Username:
            input(type='text', id='username', name='username', required)
          .form-group
            label(for='password') Password:
            input(type='password', id='password', name='password', required)
          .form-group
            input(type='submit', value='Login')
    footer
      p © 2024 Simple Website

  script.
    const signUp = (e) => {
      e.preventDefault();
      const username = document.getElementById('username').value;
      const lastname = document.getElementById('password').value;

      const data = { username };
      axios
        .post("http://localhost:3000/users/signup", data)
        .then((response) => {
          alert({response.data});
          //- if (response.data === "Success"){
          //-   alert("good");
          //- } else {
          //-   alert("no");
          //- }
        })
        .catch((error) => {
          alert("Sign in failed, an error occurred");
        });
      };


    //- async function signIn(event) {
    //-   event.preventDefault(); // Prevent the default form submission behavior

    //-   const username = document.getElementById('username').value;
    //-   const password = document.getElementById('password').value;

    //-   const signIn = (e) => {
    //-   e.preventDefault();
    //-   const username = document.getElementById('username').value;
    //-   const lastname = document.getElementById('password').value;

    //-   const data = { username: username, lastname: lastname};
    //-   axios
    //-     .post("http://localhost:3000/users/signup", data)
    //-     .then((response) => {
    //-       if (response.data === "Success"){
    //-         alert("good");
    //-       } else {
    //-         alert("no");
    //-       }
    //-     })
    //-     .catch((error) => {
    //-       alert("Sign in failed, an error occurred");
    //-     });
    //-   };
    //- }
    
    

      //- try {
      //-   const response = await fetch("http://localhost:3000/users/signin", {
      //-     method: 'POST',
      //-     headers: {
      //-       'Content-Type': 'application/json',
      //-     },
      //-     body: JSON.stringify({ username }),
      //-   });

      //-   if (response.ok) {
      //-     const data = await response.json();
      //-     console.log('Success:', data);
      //-   } else {
      //-     console.error('Error:', response.statusText);
      //-   }
      //- } catch (error) {
      //-   console.error('Error:', error.message);
      //- }

      //- return false; // Prevent form submission
    
